*{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration:none;
  color: white;
}
body {
  width: 100%;
  font:16px play;
  color: #666;
  background-image: url('../image/1.png');
}
.header {
  width: 1920px;
  height: 100px;
  background-color: white;
  box-shadow: 0 -24px 25px 19px black;
}
.sidebar-content{
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
}
