@font-face {
  font-family: 'iconfont';  /* project id 2379988 */
  src: url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.eot');
  src: url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.woff') format('woff'),
  url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2379988_gdyq220ay0b.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 17px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// 首页
.icon-home:before {
  content: "\e602";
}
// 前端
.icon-diannao:before {
  content: "\e773";
}
// 前端 VUE
.icon-vue:before {
  content: "\e640";
}
// 前端 JS
.icon-js:before {
  content: "\ea32";
}
// 前端 TypeScript
.icon-typescript:before {
  content: "\e70c";
}
// 前端 HTML
.icon-HTML:before {
  content: "\e61e";
}
// 前端 CSS
.icon-CSS:before {
  content: "\e614";
}
// 前端小程序
.icon-xiaochengxu:before {
  content: "\e63e";
}
// 笔记
.icon-biji:before {
  content: "\e7c2";
}
// 实战
.icon-tuceng:before {
  content: "\e630";
}
// 关于博主
.icon-wode:before {
  content: "\e600";
}
// 关于博主 自我介绍
.icon-jieshao:before {
  content: "\e6ac";
}
// 关于博主 留言板
.icon-liuyanban:before {
  content: "\e631";
}
// 关于博主 联系我们
.icon-lianxi:before {
  content: "\e617";
}